@model MvcInternetApplication.Models.LoginModel

@{ #line 2 "C:\Users\Atlantis\Source\Repos\alt\sstudy\MvcInternetApplication\Views\Account\Login.cshtml"
				/**/
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

<div class="regForm">
	<article>Войти в аккаунт</article>

	<section>
		<span>Почта</span>
		@Html.TextBoxFor(m => m.UserName, new { data_role = "none" })
		@Html.ValidationMessageFor(m => m.UserName)
	</section>

	<section>
		<span>Пароль</span>
		@Html.PasswordFor(m => m.Password, new { id = "catnip3", data_role = "none" })
		@Html.ValidationMessageFor(m => m.Password)
	</section>

	<div class="confirmLog"><input type="submit" value="Ok"></div>
</div>
}