@model MvcInternetApplication.Models.LoginModel

@{ 
	Layout = null;
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
<div class="red">
	<article class="purr">Войти</article>
	<div class="kittie_grid">

		<div>
			<p class="kittie1">Логин</p>
			@Html.TextBoxFor(m => m.UserName, new { data_role = "none" })
			@Html.ValidationMessageFor(m => m.UserName)
		</div>

		<div>
			<p class="kittie2">Пароль</p>
			@Html.PasswordFor(m => m.Password, new { id = "catnip3", data_role = "none" })
			@Html.ValidationMessageFor(m => m.Password)
		</div>

	</div>

	<!--
	<span class="kittie_span">
		Forgot something?
	</span>
	-->

	<div class="button3" onclick="$( '.exp_cat' ).fadeOut( 4000, function() {});">
		<input type="submit" value="Войти" />
	</div>
</div>
}