@model IEnumerable<MvcInternetApplication.Models.Card>

@{ 
	Layout = null;
}
 
<div class="cardsContainer">

	@{
		int skip = (ViewBag.Number - 1) * 8;
		var m = Model.OrderBy(Card => Card.CardId).Skip(skip).Take(8);
	}

	@foreach (var item in m)
	{
		string func2 = "ff" + @item.CardId + "()";
		string func1 = "f" + @item.CardId + "();";
		string func = "f" + @item.CardId + "()";
		int dd = @item.CardId;
		string ff = dd + "sss";

		<script type="text/javascript">
			function @func {
				document.getElementById('definition').innerHTML = "@item.Title";
				document.getElementById('exp_formula').innerHTML = "@item.Prev";
				document.getElementById('exp_card_main').innerHTML = "@item.Information";
				document.getElementById('topic').innerHTML = "@item.Topic";
				MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
			}
		</script>

		<div id="@item.CardId" class="cards" onclick="@func1">
			<div class="header">
				<p>@item.Section</p>
				<img class="cardsHeaderRight" src="~/img/saveActive.png">
			</div>
			
			<div class="formula" id="@ff">
			</div>
			<div class="footer">
				<p></p>
			</div>
		</div>

		<script type="text/javascript">
            function @func2 {
                if (@ViewBag.Saved == 1)
                    document.getElementById('@item.CardId').firstElementChild.className += ' saved';
                document.getElementById('@ff').innerHTML = "<p>@item.Prev</p>";
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                ref_cards();
                }
			@func2 ;
		</script>


	}

	<script>
		$('.cards').on('click', function () {
			$('.screen').fadeIn(1000, function () { })
		});
	</script>

</div>

@Html.Action("Pages", "Cards", new { number = ViewBag.Number, saved = ViewBag.Number, count = Model.Count() })

<script>

	$('.expCardSwap').on('click', function () {
		if ($('.expTheory').css('display') == 'none') {

			$('.expExample').hide();
			$('.expTheory').show();
			$(this).text('Примеры');

		}
		else {

			$('.expExample').show();
			$('.expTheory').hide();
			$(this).text('Теория');

		}
	});

	function SaveCard(cardId) {
        $.get("/Cards/SaveCard?CardId=" + cardId);
    }

	function DeleteCard(cardId) {
		$.get("/Cards/DeleteCard?CardId=" + cardId);
		var realId = '#' + cardId;
	}
</script>