@model IEnumerable<MvcInternetApplication.Models.Card>

@{ 
	Layout = null;
}

<div class="cardsContainer">
	@{ int co = 0; }

	@foreach (var item in Model)
	{
		string func2 = "ff" + @item.CardId + "()";
		string func1 = "f" + @item.CardId + "();";
		string func = "f" + @item.CardId + "()";
		int dd = @item.CardId;
		string ff = dd + "sss";

		<script type="text/javascript">
			function @func {
				document.getElementById('definition').innerHTML = "@item.Title";
				document.getElementById('exp_formula').innerHTML = "@item.Prev";
				document.getElementById('exp_card_main').innerHTML = "@item.Information";
				document.getElementById('topic').innerHTML = "@item.Topic";
				MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
			}
		</script>


		if (WebSecurity.IsAuthenticated)
		{
			<div id="@item.CardId" class="cards" onclick="@func1">

				<div class="header">
					<p>@item.Section</p>
					@{
						if (ViewBag.Save[co] == 1)
						{
							<img class="cardsHeaderRight" src="../img/saveActive.png">
						}
						if (ViewBag.Save[co] == 0)
						{
							<img class="cardsHeaderRight" src="../img/saveInactive.png">
						}
						co++;
					}
				</div>

				<div class="formula" id="@ff">
				</div>

				<div class="footer">
					<footer><p></p></footer>
				</div>
			</div>
		}
		else
		{
			<div id="@item.CardId" class="cards" onclick="@func1">

				<div class="header">
					<p>@item.Section</p>
				</div>

				<div class="formula" id="@ff">
				</div>

				<div class="footer">
					<footer><p></p></footer>
				</div>
			</div>
		}


		

		<script type="text/javascript">
            function @func2 {
                if (@ViewBag.Saved == 1)
                    document.getElementById('@item.CardId').firstElementChild.className += ' saved';
                document.getElementById('@ff').innerHTML = "<p>@item.Prev</p>";
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                }
			@func2 ;
		</script>


	}

</div>

@Html.Action("Pages", "Cards", new { number = ViewBag.Number, saved = ViewBag.Saved, count = ViewBag.Count })

<script>

	$('.expCardSwap').on('click', function () {
		if ($('.expTheory').css('display') == 'none') {

			$('.expExample').hide();
			$('.expTheory').show();
			$(this).text('Примеры');

		}
		else {

			$('.expExample').show();
			$('.expTheory').hide();
			$(this).text('Теория');

		}
	});

	function SaveCard(cardId) {
		$.get("/Cards/SaveCard?CardId=" + cardId);
		var realId = '#' + cardId;
		$(realId).find('.cardsHeaderRight').attr('src', '../img/saveActive.png')
    }

	function DeleteCard(cardId) {
		$.get("/Cards/DeleteCard?CardId=" + cardId);
		var realId = '#' + cardId;
		$(realId).find('.cardsHeaderRight').attr('src', '../img/saveInactive.png')
	}

	var currentCard;

	$('.cards').on('click', function () {
		$('.screen').fadeIn(1000, function () { })
		currentCard = $(this).attr('id');
	});

	$('.cardsHeaderRight').click(function (e) {
		e.stopPropagation();

		currentCard = $(this).parent().parent().attr('id');
		var realId = '#' + currentCard;

		if (profileCard == true) {
			if ($(this).parent().parent().hasClass('savedCard') == false) {
				SaveCard(currentCard);
				$(realId).addClass('savedCard');
				$(realId).css('opacity', '1');
			}
			else {
				DeleteCard(currentCard);
				$(realId).removeClass('savedCard');
				$(realId).css('opacity', '0.8');
			}
		}
		else {
			if ($(this).parent().parent().hasClass('savedCard') == false) {
				SaveCard(currentCard);
				$(realId).addClass('savedCard');
			}
			else {
				DeleteCard(currentCard);
				$(realId).removeClass('savedCard');
			}
		}
	});

	$(document).ready(function () {
		if (profileCard == true) {
			$('.cards').each(function () {
				$(this).addClass('savedCard');
				$(this).find('.cardsHeaderRight').attr('src', '../img/saveActive.png')
			});
		}
	});
	

</script>