@model IEnumerable<MvcInternetApplication.Models.Card>

@{ 
	Layout = null;
}

<div class="cardsContainer">

	@{
		int skip = (ViewBag.Number - 1) * 8;
		var m = Model.OrderBy(Card => Card.CardId).Skip(skip).Take(8);
	}

	@foreach (var item in m)
	{
		string func2 = "ff" + @item.CardId + "()";
		string func1 = "f" + @item.CardId + "();";
		string func = "f" + @item.CardId + "()";
		int dd = @item.CardId;
		string ff = dd + "sss";

		<script type="text/javascript">
			function @func {
				document.getElementById('definition').innerHTML = "@item.Title";
				document.getElementById('exp_formula').innerHTML = "@item.Prev";
				document.getElementById('exp_card_main').innerHTML = "@item.Information";
				document.getElementById('topic').innerHTML = "@item.Topic";
				MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
			}
		</script>

		<div id="@item.CardId" class="cards" onclick="@func1 rev()">
			
			<div class="header">
				<p>@item.Section</p>
				<img class="cardsHeaderRight" src="../img/saveActive.png">
			</div>

			<div class="formula" id="@ff">
			</div>

			<div class="footer">
				<footer><p></p></footer>
			</div>
		</div>

		<script type="text/javascript">
            function @func2 {
                if (@ViewBag.Saved == 1)
                    document.getElementById('@item.CardId').firstElementChild.className += ' saved';
                document.getElementById('@ff').innerHTML = "<p>@item.Prev</p>";
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
                ref_cards();
                }
			@func2 ;
		</script>


	}

	<script>
		$('.cards').on('click', function () {
			$('.screen').fadeIn(1000, function () { })
		});
	</script>

</div>

@Html.Action("Pages", "Cards", new { number = ViewBag.Number, saved = ViewBag.Number, count = Model.Count() })

<script>

	$('.expCardSwap').on('click', function () {
		if ($('.expTheory').css('display') == 'none') {

			$('.expExample').hide();
			$('.expTheory').show();
			$(this).text('Примеры');

		}
		else {

			$('.expExample').show();
			$('.expTheory').hide();
			$(this).text('Теория');

		}
	});

	var flag = [0, 0, 0, 0];

	$(".thin").on("click", function () {
		if ($(this).parent().hasClass('th_activated') == true) {

			$(this).siblings().slideToggle(500, function () { });
			$(this).parent().siblings('.th_activated').find('ol').hide(500);
			$(this).siblings().find('ul').css('height', Math.round($(this).siblings().find('ul li').outerHeight(true) * 3));

		}
	});

	$('ol ul li').on('click', function () {

		var sel = $(this).parent().parent().parent().parent();
		var next_digit = $(sel).attr('id').slice(2, 3);
		var n = parseInt(next_digit);
		var next_id = $(sel).next();

		if (flag[n] == 0) {

			$(this).addClass('dropItem_activated');
			$(sel).find('ol').hide(500);
			$(this).siblings().removeClass('dropItem_activated');

			$(next_id).addClass('th_activated');

			if ($(this).parent().parent().height() < $(this).outerHeight(true) * 3) {

				$(next_id).find('ul').css('height', Math.round($(this).outerHeight(true) * 3));

			}

			$(next_id).find('ol').show();
			$(next_id).find('ol ul li').hide();

			var next_class = '.' + $(this).attr('id');

			if (n == 5) {
				search = $(this).attr('id');
			}
			else {
				$(next_id).find(next_class).show();
			}

			flag[n]++;

		}
		else {

			$(sel).nextAll().find('ol li').removeClass('dropItem_activated');
			$(sel).nextAll().removeClass('th_activated');
			$(sel).nextAll().find('ol').hide(500);
			search = 'NULL';
			for (var i = n; i < 5; i++) { flag[i] = 0; }

		}

	});

	function SaveCard(cardId) {
        $.get("/Cards/SaveCard?CardId=" + cardId);
    }

	function DeleteCard(cardId) {
		$.get("/Cards/DeleteCard?CardId=" + cardId);
		var realId = '#' + cardId;
	}
</script>