<!DOCTYPE html>	 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")

    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

	<script>
		var profileCard;
	</script>
</head>
<body>


	<div id="layNav">
		<div id="layNavActive"></div>
		<section>
			<div id="closeIcon">
				<img src="~/img/close.png">
			</div>
			<header>
				<img src="../img/logo.png">
				<article>SStudy - Study Smart</article>
			</header>

			<nav>
				@Html.ActionLink("Главная страница", "Index", "Home", null, new { @class = "layNavPoint" })
				@Html.ActionLink("Карточки", "Cards", "Home", null, new { @class = "layNavPoint" })

				@{
					if (WebSecurity.IsAuthenticated)
					{
						@Html.ActionLink("Личный кабинет", "Profile", "Profile", null, new { @class = "layNavPoint" })
						@Html.ActionLink("Выход", "LogOff", "Account", null, new { @class = "layNavPoint" })
					}
					else
					{
						@Html.ActionLink("Войти", "Login", "Account", null, new { @class = "layNavPoint" })
					}
				}
			</nav>

			<p>
				@{
					if (WebSecurity.IsAuthenticated)
					{
						<a>Спасибо!</a>
					}
					else
					{
						@Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { @class = "layNavPoint" })
					}
				}

			</p>

			<footer>
				<article class="layNavTitul">©2017-2019</article>

				<article class="layNavTitul">Контактная информация:</article>

				<article>support@sstudy.net</article>
				<article>community@sstudy.net</article>

			</footer>
		</section>
	</div>

	<script>
		$('#layNavActive').on('click', function () {
			if (($(window).width() <= 600) && ($(this).hasClass('unfurled') == false)) {
				$('#layNav').css('width', '100%');
				$('#layNav').css('background', 'white');
				$('#layNav').children().show();

				$(this).hide();
				$('#layNav').addClass('unfurled');
			}
		});

		$('#closeIcon').on('click', function () {
			$('#layNav').css('width', '10vw');

			$('#layNav').css('background', 'white url("img/right.png") no-repeat center');
			$('#layNav').css('background-size', '10vw 10vw');

			$('#layNavActive').show();
			$('#layNav section').hide();
			$('#layNav').removeClass('unfurled');

		});
	</script>

	<div id="layContent">
		@RenderBody()
	</div>

	<div class="screen">
		<div class="active_zone" onclick="$('.screen').fadeOut(1000, function () { });"></div>

		<div class="expCard">

			<div class="expHeader">
				<p id="topic"></p>
			</div>

			<div class="expNav">
				<section><article class="expSave" onclick="$('.screen').fadeOut(800, function () { });">Сохранить</article></section>
				<section><article class="expCardSwap">Примеры</article></section>
				<section><article onclick="$('.screen').fadeOut(800, function () { });">Закрыть</article></section>
			</div>

			<div class="expScroll">
				<div class="expTheory">
					<div class="expDefinition">
						<p id="definition"></p>
					</div>

					<div class="expFormula">
						<p id="exp_formula"></p>
					</div>

					<div class="expCardMain">
						<p id="exp_card_main"></p>
					</div>
				</div>

				<div class="expExample">
					<section>
						<div class="expTask">
						</div>
					</section>
				</div>
			</div>


			<div class="expFooter">
				<p></p>
			</div>

			<script>
				$('.expCardSwap').on('click', function () {
					if ($('.expTheory').css('display') == 'none') {
						$('.expExample').hide();
						$('.expTheory').show();
						$(this).text('Примеры');
					}
					else {
						$('.expExample').show();
						$('.expTheory').hide();
						$(this).text('Теория');
					}

				});
			</script>

		</div>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</body>
</html>