<!DOCTYPE html>	
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")

    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>


</head>
<body>


	<div id="layNav">
		<div id="layNavActive"></div>
		<section>
			<div id="closeIcon">
				<img src="img/close.png">
			</div>
			<header>
				<img src="img/logo.png">
				<article>SStudy - Study Smart</article>
			</header>

			<nav>
				<div class="layNavPoint">	@Html.ActionLink("Главная страница" ,"Index", "Home")</div>
				<div class="layNavPoint">	@Html.ActionLink("Карточки", "Cards", "Home")		</div>
				@{
					if (WebSecurity.IsAuthenticated)
					{
						<div class="layNavPoint">
							@Html.ActionLink("Личный кабинет", "Profile", "Profile")
						</div>
						<div class="layNavPoint">
							@Html.ActionLink("Выход", "LogOff", "Account")
						</div>
					}
					else
					{
						<div class="layNavPoint">
							@Html.ActionLink("Войти", "Login", "Account")
						</div>
					}
				}
			</nav>

			<p>	
				@{
					if (WebSecurity.IsAuthenticated)
					{
						<a>Спасибо что зарегистрировались!</a>
					}
					else
					{
						<div class="layNavPoint">
							@Html.ActionLink("Зарегистрироваться", "Register", "Account")
						</div>
					}
				}

			</p>

			<footer>
				<article class="layNavTitul">©2017-2019</article>

				<article class="layNavTitul">Контактная информация:</article>

				<article>support@sstudy.net</article>
				<article>community@sstudy.net</article>

			</footer>
		</section>
	</div>

	<script>
		$('#layNavActive').on('click', function () {
			if (($(window).width() <= 600) && ($(this).hasClass('unfurled') == false)) {
				$('#layNav').css('width', '100%');
				$('#layNav').css('background', 'white');
				$('#layNav').children().show();

				$(this).hide();
				$('#layNav').addClass('unfurled');
			}
		});

		$('#closeIcon').on('click', function () {
			$('#layNav').css('width', '10vw');

			$('#layNav').css('background', 'white url("img/right.png") no-repeat center');
			$('#layNav').css('background-size', '10vw 10vw');

			$('#layNavActive').show();
			$('#layNav section').hide();
			$('#layNav').removeClass('unfurled');

		});
	</script>

	<div id="layContent">
		@RenderBody()
	</div>

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</body>
</html>