<!DOCTYPE html>	
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")
    <script>
        var searchMode = 0;
        var catnip = 0;
        var fall = [false, false, false];
    </script>

    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>


</head>
<body>

	<div class="exp_cat" id="cat_login">
		<div class="paw" onclick="jQuery('.exp_cat').hide()"></div>
		<section>
			@Html.Action("Login", "Account")
		</section>
	</div>

	<div class="exp_cat" id="cat_register">
		<div class="paw" onclick="jQuery('.exp_cat').hide()"></div>
		<section>
			@Html.Action("Register", "Account")
		</section>
	</div>

	<nav id="lay_nav">
		<header id="lay_header">
			<img src="~/img/1.jpg" style="vertical-align:middle;" width="auto">
		</header>

		<div id="lay_nav_right">
			<div class="nav_tab">
				@Html.ActionLink("Главная", "Index", "Home")
			</div>
			<div class="nav_tab">
				@Html.ActionLink("Карточки", "Cards", "Home")
			</div>

			@{
				if (WebSecurity.IsAuthenticated)
				{
					<div class="nav_tab">
						@Html.ActionLink("Личный кабинет", "Cabinet", "Profile")
					</div>
					<div class="nav_tab">
						@Html.ActionLink("Выход", "LogOff", "Account")
					</div>
				}
				else
				{
					<div class="nav_tab" onclick="meow(1)">
						<a>Войти</a>
					</div>
					<div class="nav_tab" onclick="meow(2)">
						<a>Зарегистрироваться</a>
					</div>
				}
			}
		</div>
	</nav>

	<script>
		$(document).ready(function () {
			$('#lay_header img, #lay_nav').css('height', $('.nav_tab').height()*1.5);
		});
	</script>

	@RenderBody()

	<footer id="footer">
		<div>
			<article>Контактная информация</article>
			<p>support@sstudy.net</p>
			<p>support@sstudy.net</p>
			<p>Фотография сделана Адамом Кулом</p>
		</div>
		<div style="float:right">
			<p>©2018-2019, SStudy</p>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</body>
</html>