@model MvcInternetApplication.Models.LocalPasswordModel
 
@{
	Layout = null;
}

<div id="t1">	

	@using (Html.BeginForm("Manage", "Account"))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary()

		<section>
			<span>Почта</span>
			<input type="text" value="example@sstudy" disabled>
		</section>

		<section class="profileEdit">
			<span>Старый пароль</span>
			@Html.PasswordFor(m => m.OldPassword)
		</section>

		<section class="profileEdit">
			<span>Новый пароль</span>
			@Html.PasswordFor(m => m.NewPassword)
		</section>

		<section class="profileEdit">
			<span>Потвердить пароль</span>
			@Html.PasswordFor(m => m.ConfirmPassword)
		</section>

		<section>
			<span>Имя</span>
			<input type="text" value="Dave Johnson" disabled>
		</section>

		<section style="display:flex">
			<div class="profileButton editProfileButton">Редактировать</div>
			<input class="profileButton profileEdit" type="submit" value="Сохранить пароль" />
		</section>
	}

	<script>
		$(document).ready(function () {
			$('#profile .profileEdit').hide();
		});

		$('.editProfileButton').on('click', function () {
			if ($(this).hasClass('cancel') == false) {
				$('.profileEdit').show(800);
				//$('#profile form input').prop('disabled', false);

				$(this).text('Отменить');
				$(this).addClass('cancel');
			}
			else {
				$('.profileEdit').hide(800);
				$('#profile form input').prop('disabled', true);

				$(this).text('Редактировать');
				$(this).removeClass('cancel');
			}

		});
	</script>

	<div id="profileData">
		<div id="avatar">
			<img src="~/img/avatarMale.png">
		</div>

		<div class="profileButton">Изменить фото</div>

		<ul>
			<li><span>Сохраненных карточек:</span>	<p>5</p></li>
			<li><span>Созданных карточек:</span>	<p>8</p></li>
			<li><span>Одобренных карточек:</span><p>22</p></li>
		</ul>
	</div>
</div>